/* Elegance v2.1 - glass :fullbg */

.colorscheme_bg,.wp-pagenavi .current,.paged-navigation .current,.additional_posts_module .post_grid_content,
body,body>.multibg>.multibg,.wp-pagenavi .current,.paged-navigation .current,
#footer,.fancy_meta span,#slider_module_inner .partial_gradient_slide .slide_overlay,
.button_link,.fancy_button,#searchsubmit,#submit,.cluetip-default,
.titled_box_title,.colored_box,.dropcap4,.pullquote4,.highlight,
.tabs_button a.current,.fancy_header span,.minimal_table th{/*:Color Scheme*/
background-color:#E98813;}
.colorscheme_color,h1,.post_title,.post_title a,.intro_title,.tabs a.current,
a:hover,.fancy_link,.dropcap2,.pullquote3,.highlight2,h5{/*:Color Scheme*/
color:#E98813;}
.colorscheme_border,.wp-pagenavi .current,.paged-navigation .current,
body,#footer,.fancy_meta span,#slider_module_inner .partial_gradient_slide .slide_overlay,
.button_link,.fancy_button,#searchsubmit,#submit,.cluetip-default,.cluetip-default .cluetip-arrows,
.titled_box_title,.colored_box,.dropcap4,.pullquote4,.highlight,
.tabs_button a.current,.fancy_header span,.minimal_table th{/*:Color Scheme*/
border-color:#E98813;}
.colorscheme_sprite,#content .mysite_twitter_widget li,#content .recentcomments,.post_comments_bubble,#content .activation_link_list li,
#content .widget_archive li,#content .widget_categories li,#content .widget_links li,#content .widget_nav_menu li,
#content .widget_pages li,#content .mysite_subnav_widget li,#content .widget_recent_entries li,
#content .contact_widget_name,#content .contact_widget_phone,#content .contact_widget_email,
.toggle,.toggle_accordion,.active,.toggle_frame .toggle,.toggle_frame .toggle_accordion,.toggle_frame .active,
.fancy_list .arrow_list,.fancy_list .bullet_list,.fancy_list .check_list,.fancy_list .circle_arrow,.fancy_list .triangle_arrow,.fancy_list .comment_list,.fancy_list .minus_list,.fancy_list .plus_list,.fancy_list .star_list,.sitemap_list li,
blockquote,.download_link,.email_link,.twitter_link,.dropcap,.dropcap3,.tabs_vertical li.current span, .featured_tabs li.current_page_item span{/*:Icon Sprite*/
background-image:url(../images/shortcodes/sprites/custom_sprite_e98813.png);}


/*:General Typography ~*~*/
body{/*:Body Font */
color:#bbb;font-size:12px;font-weight:normal;font-style:normal;font-family:verdana,sans-serif;}
h1{/*:h1 Font*/ 
color:#eee;font-size:40px;font-weight:normal;font-style:normal;font-family:sansationlight;}
h2{/*:h2 Font*/ 
color:#eee;font-size:28px;font-weight:normal;font-style:normal;font-family:sansationlight;}
h3{/*:h3 Font*/ 
color:#fff;font-size:22px;font-weight:normal;font-style:normal;font-family:sansationlight;}
h4{/*:h4 Font*/ 
color:#fff;font-size:18px;font-weight:normal;font-style:normal;font-family:sansationlight;}
h5{/*:h5 Font*/ 
/*color:#444@;*/font-size:14px;font-weight:normal;font-style:normal;font-family:inherit;}
h6{/*:h6 Font*/ 
color:#999;font-size:11px;font-weight:normal;font-style:normal;font-family:inherit;}
a{/*:Link*/
color:#aaa;text-decoration:none;}
a:hover{/*:Link Hover*/
/*color:#eee@;*/text-decoration:underline;}
/*:Typo End ~*~*/


/*:Body ~*~*/
body{/*:Body BG+ */
background-image:url(glass/glass_fullbg.png);/*background-color:inherit@;*/background-repeat:repeat-x;background-attachment:scroll;background-position:center top;}
body{/*:Body Top Border */
/*border-top-color:#888@;*/border-top-width:0px;border-top-style:solid;}
/*:Body End ~*~*/


/*:Header ~*~*/
.logo a{/*:Logo Font */
color:#292929;font-size:30px;font-weight:normal;font-style:normal;font-family:inherit;}
#header{/*:Header Background */
background-image:none;background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
/*:Header End ~*~*/


/*:Menu ~*~*/
.jqueryslidemenu a{/*:Menu Font */
color:#ccc;font-size:13px;font-weight:normal;font-style:normal;font-family:sansationlight;}
#primary_menu{/*:Menu Background */
background-image:url(../images/menu_bg.png);background-color:transparent;background-repeat:repeat-x;background-attachment:scroll;background-position:left top;}
/*:Menu End ~*~*/


/*:Intro ~*~*/
#intro .intro_title{/*:Intro Title Font */
color:#eee;font-size:50px;font-weight:normal;font-style:normal;font-family:sansationlight;}
#intro .teaser{/*:Intro Teaser Font */
color:#b4b4b4;font-size:18px;font-weight:normal;font-style:normal;font-family:sansationlight;}
#slider_module+#intro h3{/*:Call to Action Font*/ 
color:#eee;font-size:18px;font-weight:normal;font-style:normal;font-family:sansation;}
#breadcrumbs,#breadcrumbs a{/*:Breadcrumbs Font */
color:#bbb;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
#intro{/*:Intro Background */
background-image:url(../images/shortcodes/inset_line2.png);background-color:transparent;background-repeat:repeat-x;background-attachment:scroll;background-position:left bottom;}
#slider_module,#intro{/*:Intro Bottom Border */
border-bottom-color:transparent;border-bottom-width:0px;border-bottom-style:solid;}
/*:Intro End ~*~*/


/*:Main Content ~*~*/
#sidebar .widgettitle,.about_author_title,.share_this_title,.additional_posts_title,.commentlist_title,#reply-title,#comments-title,
.blog_tabs{/*:Section Titles Font */
color:#ccc;font-size:13px;font-weight:normal;font-style:normal;font-family:sansation;}
#sidebar .widgettitle,.about_author_title,.share_this_title,.additional_posts_title,.commentlist_title,#reply-title,#comments-title,.blog_tabs{/*:Section Titles Background */
background-image:url(../images/menu_bg.png);background-color:transparent;background-repeat:repeat-x;background-attachment:scroll;background-position:left top;}
#sidebar .widgettitle,.about_author_title,.share_this_title,.additional_posts_title,.commentlist_title,#reply-title,#comments-title,.blog_tabs{/*:Section Titles Top Border */
border-top-color:#dadada;border-top-width:1px;border-top-style:none;}
#sidebar .widgettitle,.about_author_title,.share_this_title,.additional_posts_title,.commentlist_title,#reply-title,#comments-title,.blog_tabs{/*:Section Titles Bottom Border */
border-bottom-color:#dadada;border-bottom-width:1px;border-bottom-style:none;}
/*:Main End ~*~*/


/*:Outro ~*~*/
#outro,#outro a{/*:Outro Font */
color:#777;font-size:18px;font-weight:normal;font-style:normal;font-family:sansationlight;}
#outro{/*:Outro Background */
background-image:none;background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
#outro_inner,.commentlist li{/*:Outro Top Border */
border-top-color:transparent;border-top-width:0px;border-top-style:solid;}
/*:Outro End ~*~*/


/*:Footer ~*~*/
#footer{/*:Footer Font */
color:#aaa;font-size:11px;font-weight:normal;font-style:normal;font-family:inherit;}
#footer .widgettitle{/*:Footer Titles Font */
color:#eee;font-size:16px;font-weight:normal;font-style:normal;font-family:sansationlight;}
#footer a{/*:Footer Links */
color:#aaa;text-decoration:none;}
#footer a:hover{/*:Footer Link Hover */
color:#fff;text-decoration:none;} 
#footer{/*:Footer Background */
background-image:none;background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
#footer_inner{/*:Footer Top Border */
border-top-color:transparent;border-top-width:0px;border-top-style:solid;} 
/*:Footer End ~*~*/


/*:Sub Footer ~*~*/
#sub_footer,#sub_footer a{/*:Sub Footer Font */
color:#ccc;font-size:9px;font-weight:normal;font-style:normal;font-family:inherit;}
#sub_footer{/*:Sub Footer Background */
background-image:url(../images/sub_footer.png);/*background-color:inherit@;*/background-repeat:repeat-x;background-attachment:scroll;background-position:center top;}
/*:Sub Footer End ~*~*/


/*:Misc ~*~*/
.post_title,.post_title a{/*:Post Title Color */ 
/*color:inherit@;*/}
.fancy_meta span,.partial_gradient_slide .slide_overlay{/*:Image Overlay Color */
/*background-color:#111@;*/}
.toggle a,.toggle_accordion a{/*:Toggle Title Font*/ 
color:#888;font-size:15px;font-weight:normal;font-style:normal;font-family:sansationlight;}
#content .teaser{/*:Content Teaser Font */ 
color:#777;font-size:18px;font-weight:normal;font-style:normal;font-family:sansationlight;}
/*:Misc End ~*~*/


/* Custom CSS */

#intro .intro_title{/*:Cufon 1 */
/*fontFamily: 'colaboratethin',
color: '-linear-gradient(#fff,#f9f9f9, #bbb)',
textShadow: '1px 2px rgba(0, 0, 0, 0.25), 0px -1px rgba(0, 0, 0, 0.1)',*/}
#intro .teaser{letter-spacing:1.2px;line-height:30px;}
#intro .teaser span{background:url(_rgba/black30.png) repeat;padding:2px 0;}

#body_inner{background:url(glass/stripes.png);}
#body_inner{position:relative;width:1060px;margin:0 auto;}
.jqueryslidemenu li:hover{background:url(_rgba/white10.png);}
.jqueryslidemenu ul{border:none;border-top:1px solid #E98813;line-height:18px;}
.jqueryslidemenu ul ul,.jqueryslidemenu ul ul ul{background:#160D01;opacity:0.95;border:none;border-top:1px solid #E98813;line-height:20px;padding-bottom:1px;}
#slider_module+#intro+#content #content_inner,#slider_module+#intro,#footer_inner,#outro_inner,.commentlist li{background:url(../images/shortcodes/inset_line2.png) 0 0 repeat-x}
.commentlist>li:first-child{background:none;}
.titled_box_title,.titled_box_content,.fancy_box,.fancy_box_title,.pullquote,.toggle_frame,.minimal_table td{background:url(_rgba/black40.png);background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.3)),to(rgba(0,0,0,0.6)));background-image:-moz-linear-gradient(center top,rgba(0,0,0,0.3),rgba(0,0,0,0.6));background-image:-o-linear-gradient(center top,rgba(0,0,0,0.3),rgba(0,0,0,0.6));background-image:linear-gradient(center top,rgba(0,0,0,0.3),rgba(0,0,0,0.6));}
.mysite_responsive #responsive_menu,.pagenavi-page,.page-numbers,.textfield,.password,.textarea,#s,#comment,.commentlist li,h5,.pullquote,.pullquote3,
.titled_box_title,.titled_box_content,.fancy_box,.fancy_box_title,.pullquote,.toggle_frame,.minimal_table td{border-color:transparent!important;border-color:rgba(255,255,255,.1)!important;}
.mysite_responsive #responsive_menu,.pagenavi-page,.page-numbers,.textfield,.password,.textarea,#s,#comment,.jqueryslidemenu ul,.jqueryslidemenu .current_page_parent,.jqueryslidemenu .current_page_item{background:url(_rgba/black30.png);}
.tabs_vertical li a,.featured_tabs li a{text-shadow:none;-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.03),-8px 0px 4px rgba(0,0,0,0.2) inset;-moz-box-shadow:0 1px 0 rgba(255,255,255,0.03),-8px 0px 4px rgba(0,0,0,0.2) inset;box-shadow:0 1px 0 rgba(255,255,255,0.03),-8px 0px 4px rgba(0,0,0,0.2) inset;}
.tabs_vertical li.current a,.featured_tabs li.current_page_item a{-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.06);-moz-box-shadow:0 1px 0 rgba(255,255,255,0.06);box-shadow:0 1px 0 rgba(255,255,255,0.06);}
