/* ELEGANCE - Fading Slider Fix
-------------------------------------------------------------- */
.fading_slider #slider_module_inner .floating_slide,
.fading_slider #slider_module_inner .staged_slide,
.fading_slider #slider_module_inner .overlay_slide,
.fading_slider #slider_module_inner .partial_staged_slide,
.fading_slider #slider_module_inner .partial_staged_slideL,
.fading_slider #slider_module_inner .partial_gradient_slide{background:none!important;}
.fading_slider #slider_module_inner.floating_slide{background:url(../../images/sliders/floating.png) bottom right no-repeat;}
.fading_slider #slider_module_inner.staged_slide{background:url(../../images/sliders/staged.png) bottom right no-repeat;}
.fading_slider #slider_module_inner.overlay_slide{background:url(../../images/sliders/staged.png) bottom right no-repeat;}
.fading_slider #slider_module_inner.partial_staged_slide{background:url(../../images/sliders/partial_staged.png) center top no-repeat;}
.fading_slider #slider_module_inner.partial_staged_slideL{background:url(../../images/sliders/partial_stagedL.png) center top no-repeat;}
.fading_slider #slider_module_inner.partial_gradient_slide{background:url(../../images/sliders/staged.png) bottom right no-repeat;position:relative;}
.fading_slider .raw_html .positioning span img{
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);}

/* Shadow Alt
-------------------------------------------------------------- */
.tabs_vertical li a,.featured_tabs li a{background:url(../../images/shortcodes/inset_line3.png) left bottom repeat-x;}
.fancy_table,.fancy_box,.toggle_frame{border-color:#e7e7e7;}

/* Opacity
-------------------------------------------------------------- */
.transparent_border{filter:alpha(opacity=15);}
.additional_posts_module .post_grid_content{filter:alpha(opacity=0);}
.additional_posts_module .post_grid_module:hover .post_grid_content,.fancy_meta span{filter:alpha(opacity=85);}
.slider_nav_thumb .slider_nav a {filter:alpha(opacity=60);}
.slider_nav_thumb .slider_nav a:hover {filter:alpha(opacity=100);}
